<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="https://webpack.js.org/assets/favicon.ico" />
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

  <div class="container">
    <div class="jumbotron">
      <h1>
        <%= htmlWebpackPlugin.options.title %>
      </h1>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nulla aspernatur dignissimos doloribus recusandae cupiditate tempore iste voluptates consequuntur voluptatibus sapiente facilis molestias, repellendus saepe pariatur eaque iure in dolor?</p>
    <hr>
    <p><small>Shiny new project!</small></p>
  </div>
  
</body>
</html>